.App {
  display: flex;
  justify-content: space-between;
}
.basic {
  width: 50%;
  height: 300px;
  padding: 16px;
  box-sizing: border-box;
  margin-bottom: 16px;
  border: 1px solid gray;
}
.introBox {
  width: 50%;
  height: 300px;
  padding: 16px;
  box-sizing: border-box;
  border: 1px solid gray;
}

.subtitle {
  font-size: 14px !important;
  color: green;
}
